<form class="example-form">
    
    <input type="search" placeholder="Search" name= "search" [(ngModel)]= "search">
    <label for="searchby">Search by:</label>
    <select id="searchby" name="searchby" [(ngModel)]="searchby">
        <option value="username">Name of Owner</option>
        <option value="type">Type of calender</option>
        <option value="location">Location</option>
    </select>
    <button (click)="searchfn()">search</button>
    <br>
    {{search}}
</form>
<h4>Search Results:</h4>
<div class="table">
<table>
    <thead>
        <td>Name of Owner</td>
        <td>type of calender</td>
        <td>Location</td>
        <td>Description</td>
    </thead>
</table>
</div>