<div><h2>Registration Form</h2></div>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>SignUp</legend>
        <!-- Email Block-->
        <div class="form-group">
        <label for="inputUserID">UserID</label>
        <input type="number" 
            id="inputUserID"
            placeholder="UserID"
            name="UserID"
            formControlName="userID"
            >
        </div>
        <div *ngIf="registerForm.controls.userID.invalid && registerForm.controls.userID.touched">
            <div *ngIf="registerForm.controls.userID.errors?.required">userID is Mandatory</div>
            <div *ngIf="registerForm.controls.userID.errors?.maxlength">UserID max can be of 10 Digit Long</div>
        </div>
        <div class="form-group">
        <label for="inputUserName">UserName</label>
        <input type="text" 
            id="inputUserName"
            placeholder="UserName"
            name="UserName"
            formControlName="username"
            >
        </div>
        <div *ngIf="registerForm.controls.username.invalid && registerForm.controls.username.touched">
            <div *ngIf="registerForm.controls.username.errors?.required">Username is Mandatory</div>
        </div>
        <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" 
            id="inputPassword"
            placeholder="Password"
            name="password"
            formControlName="password"
        >
        </div>
        <div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">
            <div *ngIf="registerForm.controls.password.errors?.required">Password is Mandatory</div>
            <div *ngIf="registerForm.controls.password.errors?.minlength">Password has to be minimum 6 Characters long</div>
        </div>
        <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="text" 
            id="inputEmail"
            placeholder="Email"
            name="email"
            formControlName="email"
            >
        </div>
        <div *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched">
            <div *ngIf="registerForm.controls.email.errors?.required">Email is Mandatory</div>
        </div>
        <div class="form-group">
        <label for="inputMobileNumber">Mobile Number</label>
        <input type="text" 
            id="inputMobileNumber"
            placeholder="Mobile Number"
            name="mobileNumber"
            formControlName="mobile"
            >
        </div>
        <div *ngIf="registerForm.controls.mobile.invalid && registerForm.controls.mobile.touched">
            <div *ngIf="registerForm.controls.mobile.errors?.required">Mobile is Mandatory</div>
            <div *ngIf="registerForm.controls.mobile.errors?.minlength">Mobile Number has to be 10 Characters long</div>
            <div *ngIf="registerForm.controls.mobile.errors?.maxlength">Mobile Number has to be 10 Characters long</div>
        </div>
        <div class="form-group">
        <label for="inputEmail">Date of Birth</label>
        <input type="date" 
            id="inputDoB"
            placeholder="Date of Birth"
            name="DoB"
            formControlName="dob"
            >
        </div>
        <div *ngIf="registerForm.controls.dob.invalid && registerForm.controls.dob.touched">
            <div *ngIf="registerForm.controls.dob.errors?.required">Date of Birth is Mandatory</div>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-default">Submit</button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
    </form>
</div>