<div><h2>Registration Form</h2></div>

<div>
<form action="/reg" method="post">
    <ul>
        <li>
            <label for="name">Name:</label>
            <input type="text" id="name" name="user_name">
        </li>
        <li>
            <label for="MobileNo">Mobile:</label>
            <input type="number" id="MobileNo" name="user_mobile_no">
        </li>
        <li>
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" name="user_email">
        </li>
        <li>
            <label for="dob">Date of birth:</label>
            <input type="date" id="dob" name="user_dob">
        </li>
        <li>
            <label for="password">Password:</label>
            <input type="password" id="password" name="user_password">
        </li>
        <li class="button">
            <button type="submit">Submit</button>
        </li>
    </ul>
</form>
</div>